#div-x button { padding: 5px 10px; margin: 10px; }

.content-block { margin-top: 5px; padding: 0px; }
.label-checkbox { margin-right: 10px; }
.list-block .item-title { white-space: normal; max-height: 54px; }
.list-block .item-content { font-size: 12px; }
.autocomplete-page .gray { color: #666; }
.autocomplete-page .dark { color: #111; }

.ob-search { width: 100%; }
.ob-search .searchbar { background-color: transparent; }

.clearfix { clear: both; }
div.loading { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; margin: 0px; padding: 0px; z-index: 99995; background-color: #eee; opacity: 0.8; }
div.loading > div.inner { float: left; position: relative; left: 50%; top: 30%; }
div.loading > div.inner > div.mask { float: left; position: relative; right: 50%; }
div.loading:after { content: ''; clear: both; }
.page > div.ob-white { background-color: #fff; }

.ob-transparent { background-color: transparent; }
.navbar-through .ob-main-body { padding-top: 0px; padding-bottom: 28px; }
.ob-main-slide { width: 100%; height: 300px; }
.ob-main-slide .swiper-slide { height: 300px; }
.ob-main-slide img { width: 100%; height: 300px; }
.ob-main-slide:after { content: ''; clear: both; }
.ob-main-ad { width: 100%; }
.ob-main-ad img { width: 100%; }

.page div.ob-list { margin: 0px; }
.page div.ob-list .ob-item { width: 100%; font-size: 70%; }
.page div.ob-list .ob-item > div { width: 100%; }
.page div.ob-list .ob-item .price { font-weight: bold; color: red; font-size: 110%; }
.page div.ob-list .ob-item .promo { display: table; }
.page div.ob-list .ob-item .promo > .icon { display: table-cell; vertical-align: middle; width: 16px; height: 16px; background-color: red; }
.page div.ob-list .ob-item .promo > .desc { display: table-cell; vertical-align: middle; font-size: 90%; color: red; padding-left: 5px; }
.page div.ob-list .ob-item input.qty { width: 60px; height: 25px; padding: 0px 10px; border: 1px solid #eee; text-align: center; }
.page div.ob-list .ob-item button.plus,button.minus { width: 25px; height: 25px; text-align: center; }

.page div.ob-item { margin: 0px; padding: 0px; }
.page div.ob-item .main-img { width: 100%; }
.page div.ob-item .main-img > img { width: 100%; }
.page div.ob-item .detail { display: none; padding: 10px; }
.page div.ob-item .detail > .title {}
.page div.ob-item .detail > .title > .name { font-size: 110%; }
.page div.ob-item .detail > .title > .promo { color: red; }
.page div.ob-item .detail > .price {}
.page div.ob-item .detail > .price > .up {}
.page div.ob-item .detail > .price > .up > .lbl {}
.page div.ob-item .detail > .price > .up > .val { font-weight: bold; color: red; font-size: 130%; }
.page div.ob-item .detail > .price > .promo {}
.page div.ob-item .detail > .price > .promo ul { list-style-type: none; margin-top: 5px; }
.page div.ob-item .detail > .price > .promo ul > li { float: left; display: table; height: 36px; }
.page div.ob-item .detail > .price > .promo ul > li:first-child > div { background-color: red; color: white; padding: 3px; margin: 3px; display: table-cell; vertical-align: middle; }
.page div.ob-item .detail > .price > .promo ul > li > a > img { margin-left: 5px; width: 36px; height: 36px; }
.page div.ob-item .detail > .price > .promo ul > li > span { margin-left: 3px; display: table-cell; vertical-align: middle; }
.page div.ob-item .detail > .price > .promo ul > li:last-child { margin-left: 5px; }
.page div.ob-item .detail > .spec { margin-top: 10px; margin-bottom: 10px; }

.page label.label-checkbox > .item-media > .after-checkbox { margin-left: 5px; }

.ob-shoppingbar > div.toolbar-inner { padding-left: 8px; padding-right: 0px; font-size: 12px; }
.ob-shoppingbar > div.toolbar-inner > a.tab-link { width: 25%; }
.ob-shoppingbar > div.toolbar-inner > a.add { width: 100%; height: 100%; background-color: red; }
.ob-shoppingbar > div.toolbar-inner > a.add > span { font-size: 14px; color: white; background-image: url(../images/ic_add_shopping_cart_white_36px.svg); background-repeat: no-repeat; padding-left: 40px; padding-top: 8px; padding-bottom: 8px; margin-top: 8px; }
.toolbar .icon > span.badge { font-family: arial; }
.ob-shoppingbar > div.toolbar-inner > a.checkout { width: 100%; height: 100%; background-color: red; }
.ob-shoppingbar > div.toolbar-inner > a.checkout > span { font-size: 14px; color: white; background-image: url(../images/ic_done_white_36px.svg); background-repeat: no-repeat; padding-left: 40px; padding-top: 8px; padding-bottom: 8px; margin-top: 8px; }
.ob-shoppingbar > div.toolbar-inner > a.checkout > span > .item-count { font-size: 10px; margin-left: 5px; }
.ob-shoppingbar > div.toolbar-inner > .cart-selectall { width: 50px; }
.ob-shoppingbar > div.toolbar-inner > .cart-selected { width: 180px; }
.ob-shoppingbar > div.toolbar-inner > .cart-selected > .cart-total { color: red; margin-left: 3px; }
.ob-shoppingbar > div.toolbar-inner > a.btn-disable { background-color: gray; }
.ob-shoppingbar > div.toolbar-inner > .order-summary { width: 180px; }
.ob-shoppingbar > div.toolbar-inner > a.confirm-order { width: 100%; height: 100%; background-color: red; }
.ob-shoppingbar > div.toolbar-inner > a.confirm-order > span { font-size: 14px; color: white; background-image: url(../images/ic_done_white_36px.svg); background-repeat: no-repeat; padding-left: 40px; padding-top: 8px; padding-bottom: 8px; margin-top: 8px; }

.ob-popover { padding: 10px; }
.ob-item-remove > span { margin-left: 10px; }

.popup-address {}
.popup-address .title { width: 100%; text-align: center; font-weight: bold; font-size: 120%; }
.popup-address .list-block { margin-top: 10px; }
.popup-address .list-block .item-title { white-space: normal; }
.popup-address .cmd { padding: 0px 10px; }
.popup-address .error { border: 1px solid red; }

.page div.ob-order {}
.page div.ob-order .sect { padding: 10px 10px; margin: 5px 0px; background-color: #fff; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.page div.ob-order .sect .sect-title {}
.page div.ob-order .sect .sect-body { padding: 5px 0px 0px 10px; border-top: 1px solid #eee; }
.page div.ob-order .left { float: left; }
.page div.ob-order .right { float: right; text-align: right; }
.page div.ob-order .head {}
.page div.ob-order .addr .name {}
.page div.ob-order .addr .phone { margin-left: 20px; }
.page div.ob-order .addr .detail { color: #bbb; }
.page div.ob-order .pay {}
.page div.ob-order .paid { background-image: url(../images/paid_stamp.png); background-repeat: no-repeat; background-position: 260px 5px; }
.page div.ob-order .pay > .entry {}

div.ob-my-info { width: 100%; height: 150px; display: table; }
div.ob-my-info > div { width: 100%; height: 100%; padding: 50px; display: table-cell; vertical-align: middle; }
div.ob-my-info i.icon { margin-right: 10px; }

div.ob-iconic-row { width: 100%; height: 60px; border-top: 1px solid #eee; border-bottom: 1px solid #eee; padding: 10px; }
div.ob-iconic-row a { display: block; width: 100%; text-align: center; }
div.ob-iconic-row a > span { display: block; }

div.ob-catalog .list-block { margin-top: 5px; }
div.ob-catalog .list-block .item-content { padding-left: 0px; min-height: 10px; }
div.ob-catalog .list-block .item-content .item-inner { min-height: 10px; padding-left: 15px; padding-top: 6px; padding-bottom: 6px; }
